
.section1-container {
  height: 550px;
}
.empty-road-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.empty-road {
  position: absolute;
  width: 100%;
  height: 100%;
}

.mobil-car-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  height: 100%;
  margin-top: 40px;
  
  
}

.mobil-container {
   
  margin-left: 100px;
  margin-right: 40px;
}

.mobil-para1 {
  color: white;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.mobil-para2 {
  color: white;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
}

.mobil-para3 {
  color: white;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
}

.mobil-para4 {
  color: white;
  font-size: 1.5rem;
  margin-left: 80px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  margin-left: 5px;
}
.mobil-para5 {
  color: white;
  font-size: 1.5rem;
  margin-left: 100px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
}

.mobil-para6 {
  color: white;
  font-size: 1.5rem;
  margin-left: -100px;
  margin-top: 0;
  margin-left: 5px;
}

.button-text-container {
  display: flex;
  align-items: center;
}

.button {
  background-color: rgb(39, 4, 192);
  color: white;
  margin-right: 40px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
}

.text {
  font-size: 1rem;
  color: white;
}



.vector-image {
  position: absolute;
  top: 400px;
  width: 230px;
  left: -110px;
  opacity: 0.5;
}
