.home-page-link {
  padding-top: 100px;
  margin-right: 980px;
  font-size: 1rem;
}

.newest-section {
  display: grid;
  place-items: center;
  width: 100vw;
  background-color: white;
}

.car-list-container2 {
  align-items: center;
}