.home-page-link {
  font-size: 1rem;
   margin-top: 100px;
}

.car-name-list-container2 {
  display: grid;
  grid-template-columns:  repeat(auto-fit,minmax(200px, 1fr));
  background-color: white;
  justify-content: center;
  align-items: center;
}

.car-list-container2 {
  align-items: center;
}

.car-picture {
  max-width: 100%;
  height: auto;
}

