.carpointer-container {
position: relative;
 height: 200px;
}

.car-pointer {
  height: 100%;
  width: 100%;
  
  
}

.text-button-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 70px;
  margin-right: 100px;
  margin-left: 100px;
}

.text-container {
  color: white;
  font-size: 1.3rem;
   margin-right: 30px;
}

.button-container {
  color: white;
  font-size: 15px;
  background-color: blue;
  padding: 10px 20px;
  border: none;
  border-radius: 0%;
}

