.link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 50px;

}

.section3-container {
  background-color: white;
 
}

.car-name-list-container {
  

   display: flex;
  align-items: center;
  margin-top: -20px;
  
}  

.car-list-container {
  display: flex;
  flex-wrap: wrap;
}

.mobil-terbaru {
  font-size: 2rem;
  font-weight: bold;
  
}

.link-div {
  font-size: 1.3rem;
  
}

.car-name {
  margin: 0 100px 0 100px;
}

.car-logo-container {
  display: flex;
  justify-content: space-between;
  margin: 55px 100px 25px 100px;
  height: 90px;
}

.car-picture {
    max-width: 100%;
    height: auto;
   
   }

.car-list-container2 {
  margin-top: 80px;
}