.section6-container {
  background-color: rgb(26, 25, 25);
  margin-top: 0;
  padding-bottom: 20px;
}

.BuyCar-container {
  display: flex;
  flex-direction: column; 
}

.buy-car {
  color: rgb(92, 90, 90);
  font-weight: bold;
  font-size: 1.5rem;
 
}

.peru-sahaan {
  color: rgb(92, 90, 90);
  font-weight: bold;
  font-size: 1.5rem;
 
}
.penge-tahuan {
  color: rgb(92, 90, 90);
  font-weight: bold;
  font-size: 1.5rem;
  
}

.pembe-lian {
  
  color: rgb(92, 90, 90);
  font-weight: bold;
  font-size: 1.5rem;
  
}

.text-div {
  font-size: 1rem;
}

.all-divs-container {
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
  margin-left: 100px;
  padding-top: 70px;
}

.BuyCar-container {
  color: white;
  padding-right: 20px;
}


.pembelian-container {
  color: white;
  margin-right: 30px;
}

.perusahaan-container {
   color: white;
   margin-right: 30px;
}

.pengetahuan-container {
  color: white;
  margin-right: 30px;
}